@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=VT323&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comfortaa", cursive;
  background-color: #e8e8cc;
  background-size: 50% 50%;
  padding-bottom: 100px;
}

.title {
  display: flex;
  background-image: url(../snake-background.png);
  background-size: cover;
  width: 256px;
  height: 114px;
  border: none;
  justify-content: center;
}

/* board design */
.board {
  display: grid;
  position: absolute;
  margin: 6.5rem 0rem;
  left: 50%;
  top: 60%;
  transform: translate(-51%, -50%);
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(17, 1fr);
  width: 425px;
  height: 425px;
  z-index: -1;
  padding: 3rem;
}

.board > div:nth-child(2n + 1):not(.snake) {
  background-color: #34be82;
}

.board > div:nth-child(2n):not(.snake) {
  background-color: #2fdd92;
}

/* food design */
.food {
  background-color: rgba(0, 128, 0, 0);
  width: 25px;
  height: 25px;
}

.poison-emoji,.food-emoji {
  margin: 0px;
  padding-left: 2px;
  font-size: 20px;
}

/* snake design */
.snake-head {
  width: 25px;
  height: 25px;
}

.snake-head-emoji {
  margin: 0px;
  font-size: 20px;
}

.snake {
  background-color: #116530;
  border-radius: 10%;
}

/* score board design */
.score, .speed {
  position: absolute;
  top: 30%;
}

.score{
  left: 35%;
  font-size: 20px;
}

.speed{
  left: 58%;
  font-size: 25px;
}

/* button design */
button {
  display: flex;
  margin: 10px;
  width: 110px;
  height: 50px;
  font-family: "Comfortaa", cursive;
  justify-content: center;
  background-color: #ffc286;
  border: none;
  border-radius: 2em;
}

button:hover {
  color: white;
  border: solid white 2px;
  cursor: pointer;
}

.speed-up-button {
  top: 65%;
}

.speed-down-button {
  top: 80%;
}

.speed-up-button,
.speed-down-button {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 75%;
}

.play-button {
  z-index: 2;
  justify-content: center;
  align-content: center;
  padding: 0px;
  position: absolute;
  left: 50%;
  top: 100%;
  visibility: visible;
  transform: translate(-50%, -50%);
}

/* game start & game end pop up modal design */
.game-start-popup-modal,
.game-end-popup-modal {
  display: flex;
  position: absolute;
  left: 50%;
  top: 80%;
  width: 100%;
  height: 100%;
  visibility: visible;
  background-color: #a8ece7de;
  transform: translate(-51%, -50%);
  padding: 40px;
  z-index: 1;
  justify-content: center;
}

.game-start-popup-modal {
  visibility: visible;
  align-items: center;
}

.game-start-popup-title{
  font-size: 35px;
  position: absolute;
  left: 40%;
  top: 10%;
}

.game-start-popup-message{
  font-size: 17px;
}

.arrow-key{
  background-image: url(../arrow-key.png);
  background-size: cover;
  z-index: 1;
  position: absolute;
  left: 40%;
  top: 50%;
  width: 166px;
  height: 113.5px;
}

.arrow-key-message{
  position: absolute;
  left: 38%;
  top: 70%;
  width: 100%;
  color: white;
}

.game-end-popup-modal {
  visibility: hidden;
  font-size: 35px;
}

.game-end-popup-message{
  position: absolute;
  top: 20%;
}

.hide-game-start-popup, .hide-play-button {
  visibility: hidden;
}

.show-game-end-popup {
  visibility: visible;
}

.show-play-button {
    visibility: visible;
    z-index: 2;
  }